.why_section {
  padding: 80px 0;
  background: #ffffff;
  text-align: center;
}

.heading_container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f5f0f0;
  margin-bottom: 10px;
}

/* .underline {
  width: 80px;
  height: 3px;
  background-color: #f7444e;
  margin: -20px auto 20px auto; 
} */
.underline {
  width: 90px;
  height: 4px;
  background-color: #f7444e;
  margin: -20px auto 20px auto;
  border-radius: 3px;
}



/* Card Layout */
.row {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 1 1 300px;
  max-width: 350px;
}

/* Card Style */
.box {
  background: #002c3e;
  border-radius: 6px;
  padding: 50px 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.box:hover {
  transform: translateY(-8px);
  background: #02384b;
}

/* Icon */
.img-box {
  width: 70px;
  height: 70px;
  margin: 0 auto 25px;
}

.icon {
  width: 100%;
  height: 100%;
  color: #fff;
}

/* Text */
.detail-boxs h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #fff;
}

.detail-boxs p {
  font-size: 0.95rem;
  color: #d8d8d8;
  margin: 0;
}

/* Responsive */
@media (max-width: 992px) {
  .col-md-4 {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .why_section {
    padding: 60px 15px;
  }

  .heading_container h2 {
    font-size: 2rem;
  }
/* 
  .underline {
    margin-bottom: 10px;
  } */







  
}
